<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsdaaa.blogproject.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.dsdaaa.blogproject.domain.Category">
            <id property="cid" column="cid" jdbcType="BIGINT"/>
            <result property="cname" column="cname" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        cid,cname,create_time,
        update_time
    </sql>
</mapper>
